repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 0839f92796ae388643a08a21640a029b322be5c2  # frozen: v0.15.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/commitizen-tools/commitizen
    rev: 7179a42b3544e953e3683a670056ad385892365d  # frozen: v4.13.8
    hooks:
      - id: commitizen
        stages: ["commit-msg"]

  - repo: local
    hooks:
      - id: mypy
        args:
          - --show-error-codes
        name: mypy
        entry: uv run mypy
        require_serial: true
        language: system
        types:
          - python
