name: Release Please
on:
  push:
    branches:
      - main

permissions:
  actions: read # Read the metrics
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for npm provenance / AWS

env:
  MISE_PYTHON_COMPILE: false

jobs:
  release_please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # ratchet:googleapis/release-please-action@v4
        id: release
        # Configured via: release-please-config.json and will update the manifest: .release-please-manifest.json
        with: {}
    outputs:
      # Root level release_created
      release_created: ${{ steps.release.outputs.release_created }}
      # Root level tag_name
      tag_name: ${{ steps.release.outputs.tag_name }}
      sha: ${{ steps.release.outputs.sha }}

  # NOTE we can't use uptick/actions/.github/workflows/ci.yaml@main here because pypi repository does not allow
  # cross-repository actions to upload to pypi. It will treat the upload as if it iwas from uptick/actions
  release_please_publish_pypi:
    runs-on: ubuntu-latest
    needs: release_please
    if: ${{ needs.release_please.outputs.release_created }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # ratchet:actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # ratchet:astral-sh/setup-uv@v6
      - name: Build and Publish
        run: |-
          uv sync --frozen
          uv build
          uv publish
